# .github/workflows/salesforce-ci-cd.yml
name: Salesforce CI/CD

on:
  pull_request:
    branches: [ main, uat ]
  push:
    branches: [ main ]

jobs:
  validate-and-deploy:
    runs-on: ubuntu-latest
    environment:  # â† Recommended: use environment for secrets isolation
      name: ${{ github.ref == 'refs/heads/main' && 'Production'}}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0   # Important for delta!

      - name: Install Salesforce CLI
        run: |
          npm install -g @salesforce/cli
          echo "sf version: $(sf --version)"

      - name: Authenticate with JWT
        run: |
          echo "${{ secrets.SF_JWT_KEY }}" > server.key
          sf login org jwt --client-id ${{ secrets.SF_CONSUMER_KEY }} \
            --jwt-key-file server.key \
            --username ${{ secrets.SF_USERNAME }} \
            --instance-url ${{ secrets.SALESFORCE_INSTANCE_URL }} \
            --alias ci-target

       - name: Run Apex Tests (CI)
        run: |
          sf apex run test \
            --test-level RunLocalTests \
            --wait 20
            --test-level RunLocalTests \
            --wait 45
